
body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Merriweather", serif, sans-serif;
}

body {
  max-width: 1000px;
  margin: auto;
  background-color: #762e3c; 
}

#main {
  border-color: #557692;
  border-style: double;
  border-left-width: 10px;
  border-top-width: 10px;
  border-right-width: 10px;
  border-bottom-width: 10px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry, 
.onLine-entry {
  padding: 0 5%;
  color: #999;
  display: none;
}

.active {
  display: inherit;
  background-color: yellow;
  opacity: 0.5;
}

.activeText {
  font-size: 32px;
  color: black;
  background-color: white;
}

.onLine {
  background-color: #3c3b3b;
}

/*hide the content of onLine courses*/
.onLine-entry {
  display: none;
  border-bottom: #5C6363;
  border-bottom-style: ridge;
}

h1 {
  font-size: 40px;
  color: #f5a623;
  line-height: 48px;
  display: inline;
  font-family: 'Rock Salt', sans-serif;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #558184;
  line-height: 29px;
  padding: 10px;
  font-family: 'Permanent Marker',cursive,  sans-serif;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #568D92;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding:10px 5%;

}

.work-date-text {
  font-style: italic;
  font-size: 14px;
  color: #999!important;
  line-height: 16px;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999!important;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

#major-text {
  color: black;
}

p {
  font-size: 14px;
  color: rgb(109, 109, 102);
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

.welcome-message {
  font-style: italic;
  font-size: 25px;
  color: #D86B6B;
  line-height: 28px;
  font-family: 'Rock Salt', cursive, sans-serif;
}

#skills-h3 {
  color: #f5ae23;
  display: none;
  padding-top: 30px;
  text-decoration: none;
}

.orange {
  background-color: #762e3c;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #C3C3C2;
}

.gray {
  background-color: #762e3c;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #762e3c;
}

/* TODO: Replace with image later */
#header {
  background-color: #762e3c;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

.biopic {
  float: left;
  padding: 10px;
  width: 200px;
  display: none;
}

img {
  padding: 10px;
}

#projectImages {
  max-height: 235px;
  border-radius: 10px;
  opacity: 0.5;
}

span {
  padding: 5px;
}

#education {
  background-color: #762e3c;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
  background-color: #762e3c;
}

div .gm-style-iw {
  font-family:  'Rock Salt', cursive, sans-serif;
  background-color: #2B35C5;
  color: #76E3EA;
  border-radius: 5px;
  text-align: center;
  border: black;
  border-style: solid;
  border-width: thick;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}

#footerContacts {
  font-size: 12px;
}